<!-- 0000025 -->
<!-- <footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div> -->
        <!-- for copyright symbol we use &copy; -->
        <!-- <div class="f-info-brand">&copy; Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer> -->




<!-- NEW FOOTER -->
<footer>
    <div class="footer-container">
        <div class="footer-section">
            <h3>ABOUT US</h3>
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Home</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>HELP</h3>
            <ul>
                <li><a href="#">Payments</a></li>
                <li><a href="#">Cancellation</a></li>
                <li><a href="#">Returns</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Report</a></li>
                <!-- <li><a href="#"></a></li>
                <li><a href="#">Home</a></li> -->
            </ul>
        </div>
        <div class="footer-section">
            <h3>CONSUMER POLICY</h3>
            <!-- <p><span>@concerto</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p> -->
            <!-- <p><span>@concerto</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p> -->
            <ul>
                <li><a href="#">Terms Of Use</a></li>
                <li><a href="#">Security</a></li>
                <li><a href="#">Sitemap</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Grievance Redressal</a></li>
                <li><a href="#">EPR Complience</a></li>
                <!-- <li><a href="#">Home</a></li> -->
            </ul>
        </div>
        <div class="footer-section">
            <h3>MAIL US</h3>
            <!-- <p><span>@concerto</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p> -->
            <!-- <p><span>@concerto</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p> -->
            <ul>
                <!-- <li><a href="#">EventMapper Internet Private Limited,</a></li>
                <li><a href="#">Building, Alledaa, Bendolia &</a></li> -->
                <li><a href="#">Close Emabassy Tech Village,</a></li>
                <li><a href="#">Quater Ring Road, Devrghshi Village,</a></li>
                <li><a href="#">Bengluru, 446565,</a></li>
                <!-- <li><a href="#">Krnataka, India</a></li> -->
                <!-- <li><a href="#">Home</a></li> -->
                <form action="#" method="post">
                    <br><br><br><br>
                    <input type="email" placeholder="Enter your email" class="mb-3 col-md-7 email-input">
                    <button type="submit" class="emailsendbutton">SEND</button>    
                </form>
            </ul>
        </div>
    </div>
        
        <br>
        <hr class="hrtag">
    <div class="footerelements mt-4" >
        <!-- <p >Copyright © 2024 CONCERTO</p> -->
        <!-- <div class="footer-social-icons">
        </div> -->
        <div class="item">
            <a href="#" class="anchortagcolor">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </div>
        <div class="item">
            <a href="#" class="anchortagcolor">
                <i class="fab fa-twitter"></i>
            </a>
        </div>
        <div class="item">
            <a href="#" class="anchortagcolor">
                <i class="fab fa-facebook-f"></i>
            </a>
        </div>
        <div class="item">
            <a href="#" class="anchortagcolor">
                <i class="fab fa-youtube"></i>
            </a>
        </div>
    </div>
</footer>