<% layout("/layouts/boilerplate") %>
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <% 
let bhilaiListings = allListings.filter(listing => listing.location === "Durg");
console.log("Bhilai Listings:", bhilaiListings);
if(bhilaiListings.length > 0) {
    for(let listing of bhilaiListings) { 
%>
    <a href="/listings/<%= listing._id %>" class="listing-link">
        <div class="card col">
            <img src="<%= listing.image %>" class="card-img-top" alt="listing_image" style="height: 20rem">
            <div class="card-img-overlay"></div>
            <div class="card-body">
                <p class="card-text">
                    <b><%= listing.title %></b>
                    <br>
                    <% if(listing.price.toLocaleString("en-IN") === "0") { %>
                        Free
                    <% } else { %>
                        &#8377; <%= listing.price.toLocaleString("en-IN") %> /Session
                    <% } %>
                </p>
            </div>
        </div>
    </a>
<% 
    } 
} else {
%>
    <p>No listings available in Bhilai</p>
<% } %>

    
    </div>