<% layout("/layouts/boilerplate") %>
<div>
    <img src="https://static.wikia.nocookie.net/google-doodles/images/f/f8/Download_%283%29.png/revision/latest/scale-to-width-down/250?cb=20231108004619" alt="">
</div>