<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    .imga{
        height: 500px;
        width: 500px;
    };</style>
</head>
<body>
        <h1>Booked</h1>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTx8tlKr6uUD_xVD-LQ2ylV0UrIGQi9gw0WjoszXrZamY-NqRUKSkggYJNRibhxmqlUig&usqp=CAU"  class="imga">
</body>
</html>